/** Configured For Applets **/

configuration {
  show-icons: true;
  icon-theme: "Papirus";
  location: 5;
  terminal: "alacritty";
  yoffset: -50;
  xoffset: -20;
}
@import "~/.config/rofi/themes/slate.rasi"
