[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "config/alacritty/catpuccin"]
	path = config/alacritty/catpuccin
	url = https://github.com/catppuccin/alacritty.git
