! [Atom One Dark color scheme]
! special
*.foreground:   #abb2bf
*.background:   #1e2127
*.cursorColor:  #abb2bf

! black
*.color0:       #1e2127
*.color8:       #5c6370

! red
*.color1:       #e06c75
*.color9:       #e06c75

! green
*.color2:       #98c379
*.color10:      #98c379

! yellow
*.color3:       #d19a66
*.color11:      #d19a66

! blue
*.color4:       #61afef
*.color12:      #61afef

! magenta
*.color5:       #c678dd
*.color13:      #c678dd

! cyan
*.color6:       #56b6c2
*.color14:      #56b6c2

! white
*.color7:       #abb2bf
*.color15:      #ffffff

! ----------------------------------------------------------------------
! [Prevnt auto scrollback]
! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! ----------------------------------------------------------------------
! [Font Config]
! set the terminal font
URxvt.font: xft:Inconsolata for Powerline:style=Medium:size=12

! use smaller spacing between letters
URxvt.letterSpace: -1

! ----------------------------------------------------------------------
! [Clickable URLs & Clipboard Config]
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! ----------------------------------------------------------------------
! [Scrollbar Config]
URxvt.scrollBar: false

! ----------------------------------------------------------------------
! [Border Config]
URxvt.internalBorder: 0
